-# This is file app/views/movies/show.html.haml

%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
    
    -# Debugging exemple
    -#= debug(@movie)

  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

    -# Debugging exemple
    -#= @movie.inspect

%h3 Description

%p#description= @movie.description

= link_to 'Back to movie list', movies_path
